<!DOCTYPE html>
<html>
<head>
    <title>{{ player.player_name }} - Player Introduction</title>
</head>
<body>
    <div class="player-introduction">
        <img src="{{ team_info.team_club_picture.url }}" alt="{{ player.team.team_name }}">
        <h1>{{ player.player_name }}</h1>
        <p>포지션: {{ player.get_position_display }}</p>
        <p>생년월일: {{ player.birthday }}</p>
        <p>키: {{ player.height }} cm</p>
        <p>몸무게: {{ player.weight }} kg</p>
        <p>등번호: {{ player.back_number }}</p>
        <img src="{{ player_info.player_picture.url }}" alt="{{ player.player_name }} 사진">
        <h2>{{ player.team.team_name }}</h2>
        <img src="{{ player.team.team_picture.url }}" alt="{{ player.team.team_name }}">
    </div>
</body>
</html>
