{% extends "base.html" %}
{% load static %}

{% block title %}User Posts{% endblock %}

{% block content %}
<div class="container-297">
    <div class="container-297-inner">
        <div class="container-297-post">
            <div class="container-297-post-header">
                <div class="container-297-profile-icon-container">
                    <div class="container-297-profile-icon-inner">
                        <div class="container-297-profile-icon-line1"></div>
                        <div class="container-297-profile-icon-line2"></div>
                    </div>
                </div>
                <div class="container-297-post-details">
                    <div class="container-297-username">이승우</div>
                    <div class="container-297-post-date">04.12 14:10</div>
                </div>
            </div>
            <div class="container-297-post-content">
                <div class="container-297-date-text-large">6</div>
                <div class="container-297-date-text-small">Jul</div>
                <p>Veniam nostrud laborum cupidatat do ipsum incididunt irure veniam ex voluptate labore anim anim. Ea ex do consequat ullamco occaecat mollit ipsu</p>
                <img class="container-297-post-image" src="https://via.placeholder.com/635x632" alt="Post Image">
            </div>
            <div class="container-297-post-footer">
                <div class="container-297-like-comment-container">
                    <div class="container-297-count-text">258</div>
                    <div class="container-297-icon-container">
                        <div class="container-297-icon-like"></div>
                    </div>
                    <div class="container-297-count-text">49</div>
                    <div class="container-297-icon-container">
                        <div class="container-297-icon-comment"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-297-post">
            <div class="container-297-post-header">
                <div class="container-297-profile-icon-container">
                    <div class="container-297-profile-icon-inner">
                        <div class="container-297-profile-icon-line1"></div>
                        <div class="container-297-profile-icon-line2"></div>
                    </div>
                </div>
                <div class="container-297-post-details">
                    <div class="container-297-username">이승우</div>
                    <div class="container-297-post-date">04.12 14:10</div>
                </div>
            </div>
            <div class="container-297-post-content">
                <div class="container-297-date-text-large">5</div>
                <div class="container-297-date-text-small">Jul</div>
                <p>Veniam nostrud laborum cupidatat do ipsum incididunt irure veniam ex voluptate labore anim anim. Ea ex do consequat ullamco occaecat mollit ipsu</p>
                <img class="container-297-post-image" src="https://via.placeholder.com/635x632" alt="Post Image">
            </div>
            <div class="container-297-post-footer">
                <div class="container-297-like-comment-container">
                    <div class="container-297-count-text">258</div>
                    <div class="container-297-icon-container">
                        <div class="container-297-icon-like"></div>
                    </div>
                    <div class="container-297-count-text">49</div>
                    <div class="container-297-icon-container">
                        <div class="container-297-icon-comment"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
